* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --orange-daily:  #FF981E;
    --semi-orange-daily: #FFAE4E;
    --green-daily: #07CF06;
    --gray-blue: #4E556F;
}

.text-orange-daily {
    color: var(--orange-daily);
}

.test-gray-daily {
    color: var(--gray-blue);
}

.fs-12 {
    font-size: 0.75rem;
}
.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 0.875rem;
}

.fs-15 {
    font-size: 0.9375rem;
}
.fs-24 {
    font-size: 24px;
}

.fs-26 {
    font-size: 1.625rem;
}

.lh-16 {
    line-height: 1rem;
}
.lh-17 {
    line-height: 17px;
}
.lh-18 {
    line-height: 18px;
}

.lh-20 {
    line-height: 1.25rem;
}

.lh-22 {
    line-height: 1.375rem;
}
.fw-900 {
    font-weight: 900;
}
.mt-12 {
    margin-top: 12px;
}

.wrapper {
    background: #101320;
}
@media only screen and (max-width: 1560px) {

    .countdown-time {
        font-size: 1.20rem;
    }
    .title-content-countdown {
        font-size: 14px;
    }
    .body-content-countdown  {
        font-size: 12px;
    }
    .countdown-time-chat {
        padding: 6px;
    }
    .gift-side {
        display: flex;
        align-items: center;
    }
    .name-time-message span {
        font-size: 13px;
    }
    .message-chat {
        padding: 8px !important;
    }
    .main-container .daily-action .daily-action-group {
        background-size: 100% 92%;
        padding: 44px 40px 44px 130px !important;
    }
    .body-message {
        margin-left: 10px !important;
    }
    .icon-countdown-time {
        display: flex;
        align-items: center;
    }
    .icon-countdown-time img {
        width: 100%;
    }
    .logo-sidebar {
        width: 100%;
    }
    .logo-sidebar img {
        width: 80%;
    }
}