:root {
    --orange-daily:  #FF981E;
    --semi-orange-daily: #FFAE4E;
    --green-daily: #07CF06;
    --gray-blue: #4E556F;
}

.text-orange-daily {
    color: var(--orange-daily);
}

.test-gray-daily {
    color: var(--gray-blue);
}

.fs-12 {
    font-size: 0.75rem;
}

.fs-14 {
    font-size: 0.875rem;
}

.fs-15 {
    font-size: 0.9375rem;
}

.fs-26 {
    font-size: 1.625rem;
}

.lh-16 {
    line-height: 1rem;
}

.lh-20 {
    line-height: 1.25rem;
}

.lh-22 {
    line-height: 1.375rem;
}