.main-container {
  background-image: url('../image/background_main.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: top;
  background-color: #161A2B;
}

.main-container .daily-action {
  background-image: url('../image/daily_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.main-container .daily-action .daily-action-group {
  padding: 44px 40px 44px 196px;
}

.main-container .daily-action .daily-gift {
  padding: 12px;
  column-gap: 10px;
  border-radius: 14px;
  background: linear-gradient(139deg, #474D69 16.13%, #292F4D 74.19%);
  box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.06) inset;
}

.main-container .daily-action .daily-coins {
  color: var(--orange-daily);
}

.main-container .daily-action .daily-exp {
  color: var(--green-daily);
}