.main-container {
  background-image: url('../image/background_main.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: top;
  padding-bottom: 40px;
}

.main-container .main {
  padding-bottom: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.main-container .daily-action {
}

.main-container .daily-action .daily-action-group {
  padding: 44px 40px 44px 196px;
  background-image: url('../image/daily_icon.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 14px;
}

.main-container .daily-action .daily-action-group>div:not(:first-child) {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.main-container .daily-action .daily-quest>div {
  padding-left: 30px;
  padding-right: 30px;
}

.main-container .daily-action .daily-gift>div {
  margin-left: 30px;
  padding: 12px;
  column-gap: 10px;
  border-radius: 14px;
  background: linear-gradient(139deg, #474D69 16.13%, #292F4D 74.19%);
  box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.06) inset;
}

.main-container .daily-action .daily-coins {
  color: var(--orange-daily);
}

.main-container .daily-action .daily-exp {
  color: var(--green-daily);
}

.main-container .menu-option {
  margin-top: 40px;
}

.main-container .menu-option .menu-item {
  padding-top: 120px;
}

.main-container .menu-option .menu-item .item-icon {
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
}

.main-container .menu-option .menu-item .item-body {
  padding: 124px 25px 25px;
  border-radius: 14px;
  box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.06) inset;
  background: #161A2B;
}

.main-container .menu-option .item-header {
  margin-bottom: 64px;
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 800;
  text-transform: capitalize;
}

.main-container .menu-option .item-coin {
  padding: 12px;
  margin-top: 12px;
  column-gap: 10px;
  width: 100%;
  border-radius: 14px;
  background: #1D2239;
  box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.02) inset;
}

.main-container .menu-option .item-coin span {
  color: #FFF;
  font-size: 0.9375rem;
  font-weight: 800;
  text-transform: capitalize;
}

.main-container .all-progress {
  margin-top: 10px;
}

.main-container .all-progress .simple-progressbar-generated-div {
  display: flex;
  align-items: center;
  background-color: #292F4D !important;
  height: 28px !important;
  border-radius: 14px;
  overflow: hidden;
}

.main-container .all-progress .simple-progressbar-generated-div div {
  padding: 4px 10px;
  height: 22px !important;
  background: linear-gradient(310deg, #F50 11.16%, #FFA071 86.78%) !important;
  box-shadow: 0px 2px 2px 0px #FFBC8B inset !important;
  border-radius: 14px;
}

.main-container .daily-quest .progress-group span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 800;
  font-size: 0.875rem;
}



.main-container .item-progress .simple-progressbar-generated-div {
  display: flex;
  align-items: center;
  background-color: #292F4D !important;
  height: 28px !important;
  border-radius: 14px;
  overflow: hidden;
  width: 100% !important;
}

.main-container .item-progress .simple-progressbar-generated-div div {
  padding: 4px 10px;
  height: 22px !important;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(274deg, #28A745 4.1%, #5ED078 100%) !important;
  box-shadow: 0px 2px 2px 0px #8BFFA6 inset !important;
}

.main-container .item-progress-group span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 800;
  font-size: 0.875rem;
}


.main-footer {
  margin-left: 12px;
  margin-right: 12px;
}

.main-footer ul {
  column-gap: 20px;
}

.main-footer span {
  color:#4E556F;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 160%;
}